
#footer {
    background-color: #1f2937;
    color: #fff;
    padding: 10px 35px;
}
.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}
.footer-section h3 {
    font-size: 20px;
    margin-bottom: 16px;
}
.footer-section p, .footer-section ul {
    font-size: 14px;
    color: #9ca3af;
}
.footer-section ul {
    list-style: none;
}
.footer-section ul li {
    margin-bottom: 8px;
}
.footer-section ul a {
    color: #9ca3af;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer-section ul a:hover {
    color: #fff;
    border-bottom: solid 1px white;
}
.social-icons {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}
.social-icons a {
    color: #9ca3af;
    font-size: 20px;
    transition: color 0.3s ease;
}
.social-icons a:hover  {
    color: #fff;
}
.footer-bottom {
    text-align: center;
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid #374151;
    font-size: 14px;
    color: #9ca3af;
}
i{
    margin:2px;

}
.footer-section ul li a:hover{
    color: white;
}
.footer-section ul li  i{
    margin-right:5px ;
}
.material-symbols-outlined {
    margin-right: 2px;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

.fa-instagram:hover{
    color: #f303c7;
}
.fa-twitter:hover{
    color: #1DA1F2;
}
.fa-facebook:hover{
    
    color: #0866FF;
}
.footer-section ul li:hover i{
    color: #1DA1F2;
}